// COLOR PALETTE
$color-background-page: #202020;
$color-background-portfolio: #272727;
$color-background-additional: #303030;
$color-background-card: #222222;
$color-icon: #313131;
$color-text-primary: #fff;
$color-text-additional-1: #8b8b8b;
$color-text-additional-2:#a0a0a0;
$color-text-accent: #000000;
$color-border: #dadada;
$color-border-additional: #424242;
$color-accent-1: #3ddc84;
$color-accent-2: #4285F4;
$color-accent-3: #ee3465;

// CONTENT
$content-width: 1140px;
