.error {
  $font-size: 1rem;

  display: none;
  margin-top: 6px;

  @include font(
    $size: $font-size,
    $line-height: calc(1.9rem / $font-size),
    $letter-spacing: 0
  );
  color: $color-accent-3;

  &_visible {
    display: inline;
  }
}
