.section-heading-main {
  margin: 0;

  @include font(
    $size: $font-size-xl,
    $line-height: calc(5.8rem / $font-size-xl),
    $letter-spacing: -0.2rem
  );

  @media screen and (max-width: calc($media-tablet - 1px)) {
    font-size: calc(3rem + (20 + 20 * 0.7) * (100vw - $media-mobile-s) / 767);
  }

  @media screen and (max-width: $media-mobile-l) {
    line-height: calc(3.7rem / 3rem);
    letter-spacing: -0.1rem;
  }
}

.section-heading {
  margin: 0;
  padding-bottom: 23px;

  @include font(
    $size: $font-size-m,
    $line-height: calc(2.7rem / $font-size-m),
    $letter-spacing: -0.1rem
  );

  @include border-bottom();

  @media screen and (max-width: $media-mobile-l) {
    $font-size-mobile: 1.8rem;

    font-size: $font-size-mobile;
    line-height: calc(2.2rem / $font-size-mobile);
    letter-spacing: -0.07rem;

    padding-bottom: 28px;
  }
}

.promo__heading {
  $font-size-laptop: 4rem;
  max-width: 730px;

  text-align: center;

  @media screen and (max-width: $media-desktop) {
    max-width: calc(669px + (61 + 61 * 0.7) * (100vw - $media-tablet) / 1280);

    font-size: calc(
      $font-size-laptop + (14 + 14 * 0.7) * (100vw - $media-tablet) / 1279
    );
  }

  @media screen and (max-width: $media-laptop) {
    line-height: calc(5.2rem / $font-size-laptop);
  }

  @media screen and (max-width: calc($media-tablet - 1px)) {
    $font-size-mobile: 2.9rem;

    font-size: calc(
      $font-size-mobile + (14 + 14 * 0.7) * (100vw - $media-mobile-s) / 767
    );
    line-height: calc(3.7rem / $font-size-mobile);
  }
}

.techs__heading {
  @media screen and (max-width: $media-mobile-l) {
    border-bottom-color: $color-text-accent;
  }
}

.about-me__heading {
  $font-size-laptop: 4rem;

  @media screen and (max-width: $media-desktop) {
    font-size: calc(
      $font-size-laptop + (14 + 14 * 0.7) * (100vw - $media-tablet) / 1279
    );
  }

  @media screen and (max-width: $media-laptop) {
    line-height: calc(4rem / $font-size-laptop);
  }

  @media screen and (max-width: calc($media-tablet - 1px)) {
    padding-top: 35px;
  }
}

.about-me__subheading {
  margin: 0;
  padding-top: 18px;

  @include font(
    $family: "Inter-Medium",
    $weight: 500,
    $size: 1.8rem,
    $line-height: calc(2rem / 1.8rem),
    $letter-spacing: 0
  );

  @media screen and (max-width: $media-laptop) {
    $font-size: 1.2rem;

    padding-top: 14px;

    font-size: $font-size;
    line-height: calc(1.8rem / $font-size);
  }

  @media screen and (max-width: calc($media-tablet - 1px)) {
    $font-size-mobile: 1.1rem;

    padding-top: 22px;

    font-size: $font-size-mobile;
    line-height: calc(1.6rem / $font-size-mobile);
  }
}

.portfolio__heading {
  $font: 1.8rem;

  margin: 0;

  @include font(
    $size: $font,
    $line-height: calc(2rem / $font),
    $letter-spacing: 0
  );
  color: $color-text-additional-1;

  @media screen and (max-width: $media-laptop) {
    color: $color-text-additional-2;
  }

  @media screen and (max-width: calc($media-tablet - 1px)) {
    $font-size-mobile: 1.4rem;

    font-size: calc(
      $font-size-mobile + (4 + 4 * 0.7) * (100vw - $media-mobile-s) / 767
    );
    line-height: calc(2rem / $font-size-mobile);
  }
}

.portfolio__project-heading {
  margin: 0;

  @include font(
    $size: $font-size-l,
    $line-height: calc(5rem / $font-size-l),
    $letter-spacing: -0.12rem
  );

  @media screen and (max-width: $media-laptop) {
    $font-size: 2.8rem;

    font-size: $font-size;
    line-height: calc(5rem / $font-size);
  }

  @media screen and (max-width: calc($media-tablet - 1px)) {
    $font-size-mobile: 1.8rem;

    font-size: calc(
      $font-size-mobile + (10 + 10 * 0.7) * (100vw - $media-mobile-s) / 767
    );
    line-height: calc(2.8rem / $font-size-mobile);
  }

  @media screen and (max-width: $media-mobile-l) {
    letter-spacing: -0.07rem;
  }
}

.footer__heading {
  $font-size: 1.3rem;
  $space-between: 20px;

  grid-area: heading;
  width: 100%;
  margin: 0;
  margin-bottom: $space-between;
  padding-bottom: $space-between;

  text-align: center;
  color: $color-text-additional-1;

  @include border-bottom($color: $color-border-dark);

  @media screen and (max-width: $media-mobile-l) {
    $font-size-mobile: 1.2rem;

    margin-bottom: 32px;

    font-size: $font-size-mobile;
    line-height: calc(1.5rem / $font-size-mobile);
  }
}

.entry__heading {
  $font-size: 2.4rem;

  margin: 0;
  padding: 40px 0;

  @include font(
    $family: "Inter-Medium",
    $weight: 500,
    $size: $font-size,
    $line-height: calc(2.9rem / $font-size),
    $letter-spacing: 0
  );

  @media screen and (max-width: $media-mobile-l) {
    padding-top: 46px;
    padding-bottom: 80px;
  }
}

.not-found__heading {
  margin: 0;

  @include font(
    $size: $font-size-xxl,
    $line-height: calc(16.9rem / $font-size-xxl),
    $letter-spacing: 0
  );

  @media screen and (max-width: calc($media-tablet - 1px)) {
    $font-size-mobile: 8rem;

    font-size: calc(
      $font-size-mobile + (60 + 60 * 0.7) * (100vw - $media-mobile-s) / 767
    );
    line-height: calc(9.7rem / $font-size-mobile);
  }
}
