.section-heading-main {
  margin: 0;

  @include font(
    $size: $font-size-xl,
    $line-height: calc(5.8rem / $font-size-xl),
    $letter-spacing: -0.2rem
  );
}

.section-heading {
  margin: 0;
  padding-bottom: 23px;

  @include font(
    $size: $font-size-m,
    $line-height: calc(2.7rem / $font-size-m),
    $letter-spacing: -0.1rem
  );

  @include border-bottom();
}

.about-me__subheading {
  margin: 0;
  padding-top: 18px;

  @include font(
    $family: "Inter-Medium",
    $weight: 500,
    $size: 1.8rem,
    $line-height: calc(2rem / 1.8rem),
    $letter-spacing: 0
  );
}

.portfolio__heading {
  $font: 1.8rem;

  margin: 0;

  @include font(
    $size: $font,
    $line-height: calc(2rem / $font),
    $letter-spacing: 0
  );
  color: $color-text-additional-1;
}

.portfolio__project-heading {
  margin: 0;

  @include font(
    $size: $font-size-l,
    $line-height: calc(5rem / $font-size-l),
    $letter-spacing: -0.12rem
  );
}

.footer__heading {
  $font-size: 1.3rem;
  $space-between: 20px;

  grid-area: heading;
  width: 100%;
  margin: 0;
  margin-bottom: $space-between;
  padding-bottom: $space-between;

  text-align: center;
  color: $color-text-additional-1;

  @include border-bottom($color: $color-border-dark);
}

// NOT FOUND PAGE
.not-found__heading {
  margin: 0;

  @include font(
    $size: $font-size-xxl,
    $line-height: calc(16.9rem / $font-size-xxl),
    $letter-spacing: 0
  );
}
