.link {
  @include font(
    $family: "Inter-Medium",
    $size: 1.2rem,
    $line-height: calc(1.6rem / 1.2rem),
    $weight: 500,
    $letter-spacing: 0
  );
  color: inherit;
  text-decoration: none;

  @extend %animation;

  &:hover {
    opacity: $opacity-medium;
  }

  &_color_accent {
    color: $color-text-accent;

    &:hover {
      opacity: $opacity-strong;
    }
  }

  &_type_inner-nav {
    @include font(
      $size: $font-size-s,
      $line-height: calc(1.7rem / $font-size-s),
      $letter-spacing: 0.05rem
    );
    color: $color-accent-2;
  }
}

.portfolio__link {
  @extend %flex-row;
}

.footer__links {
  grid-area: links;
  justify-self: end;
  display: flex;
  column-gap: 20px;
}

.footer__link {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

.nav__link {
  $font-size: 1.3rem;

  @include font(
    $family: "Inter-Regular",
    $weight: 400,
    $size: $font-size,
    $line-height: calc(1.8rem / $font-size),
    $letter-spacing: 0
  );
}

// NOT FOUND PAGE
.not-found__link {
  @extend %paragraph-s;
  color: $color-accent-2;
}
