.link {
  @include font(
    $family: "Inter-Medium",
    $size: 1.2rem,
    $line-height: calc(1.6rem / 1.2rem),
    $weight: 500,
    $letter-spacing: 0
  );
  color: inherit;
  text-decoration: none;

  @extend %animation;

  &:hover {
    opacity: $opacity-medium;
  }

  &_color_accent {
    color: $color-text-accent;

    &:hover {
      opacity: $opacity-strong;
    }
  }
}

.portfolio__link {
  @extend %flex-row;
}

.footer__links {
  grid-area: links;
  justify-self: end;
  display: flex;
  column-gap: 20px;
}

.footer__link {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}
