.paragraph {
  margin: 0;

  @include font(
    $size: $font-size-s,
    $line-height: calc(2rem / $font-size-s),
    $letter-spacing: 0
  );
}

.paragraph-s {
  @include font(
    $family: "Inter-Medium",
    $size: $font-size-s,
    $line-height: calc(1.7rem / $font-size-s),
    $letter-spacing: 0
  );
  text-decoration: none;

  color: inherit;

  @extend %animation;

  &:hover {
    opacity: $opacity-medium;
  }
}

.techs__paragraph {
  max-width: 460px;
  padding: 26px 0 100px;

  letter-spacing: -0.05rem;
  text-align: center;
}

.about-me__paragraph {
  line-height: calc(2.2rem / $font-size-s);

  padding: 26px 0 99px;
}
