.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
  }

  &__auth {
    display: flex;
    align-items: center;
    column-gap: 30px;
    max-width: 183px;
  }
}
