.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 44px;
    padding: 18px 0;

    @media screen and (max-width: $media-desktop) {
      margin-right: calc(
        30px + (40 + 40 * 0.7) * (100vw - $media-tablet) / 1279
      );
      margin-left: calc(
        30px + (40 + 40 * 0.7) * (100vw - $media-tablet) / 1279
      );
    }

    @media screen and (max-width: calc($media-tablet - 1px)) {
      margin-right: calc(
        14px + (16 + 16 * 0.7) * (100vw - $media-mobile-s) / 767
      );
      margin-left: calc(
        14px + (16 + 16 * 0.7) * (100vw - $media-mobile-s) / 767
      );
    }
  }

  &__auth {
    display: flex;
    align-items: center;
    column-gap: 30px;
    max-width: 183px;

    @media screen and (max-width: $media-mobile-l) {
      column-gap: 14px;
    }
  }
}
