.layout-nav {
  @extend %flex-row;
  width: 100%;

  @media screen and (max-width: $media-tablet) {
    flex-direction: column;
    row-gap: 30vh;
  }

  @media screen and (max-width: $media-mobile-l) {
    flex-direction: column;
    row-gap: 28.5vh;
  }
}
