.nav-tab {
  max-width: 325px;

  &__list {
    display: flex;
  }

  &__link {
    @extend %flex-column;
    width: 96px;
    height: 36px;
    margin: 0 5px;

    background-color: $color-background-additional;
    border-radius: $border-radius;

    @media screen and (max-width: $media-mobile-l) {
      width: calc(82px + (14 + 14 * 0.7) * (100vw - $media-mobile-s) / 480);
      height: calc(26px + (10 + 10 * 0.7) * (100vw - $media-mobile-s) / 480);
      margin-right: 3px;
      margin-left: 3px;
    }
  }
}
