.portfolio {
  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 50px 0 125px;

    @media screen and (max-width: $media-laptop) {
      padding-top: 47px;
      padding-bottom: 90px;
    }
  }

  &__project {
    height: 69px;

    &:not(:last-child) {
      @include border-bottom($color: $color-border-dark);

      @media screen and (max-width: $media-laptop) {
        border-color: $color-border-adaptive;
      }
    }
  }

  &__project-arrow {
    padding-top: 6px;
    padding-right: 6px;
  }
}
