.promo {
  &__wrapper {
    @extend %flex-column;
    row-gap: 151px;
    max-width: $promo-width;
    margin: 0 auto;
    margin-top: 20px;
    padding: 160px 235px 30px;
    box-sizing: border-box;

    background-color: $color-background-secondary;
    border-radius: 10px;
  }

  &__heading {
    max-width: 730px;

    text-align: center;
  }
}
